.download {
    padding: 114px 0px;
}

.download-title {
    color: #000;
    font-size: $_30px;
    text-align: center;
    font-weight: 500;
    font-family: Raleway; 
    margin-bottom: 25px;  
}
.download-text {
    color: #000;
    font-size: $_18px;
    text-align: center;
    font-weight: 700;
    font-family: Raleway;
    margin-bottom: 50px;
}
