.features {
    padding: 120px 0px;
}
.features-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.features-card {
    width: 355px;
    margin: 0 15px 50px 15px;
}
.features-card-img {
    margin: auto;
    margin-bottom: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-card-title {
    font-size: $_24px;
    font-weight: 900;
    font-family: Raleway;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 44px;
}
.features-card-text {
    font-family: Raleway;
    font-weight: 400;
    font-size: $_18px;
    text-align: center;
}